<ion-view title="Evenimente" class = "main-window">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Events planner</h1>
    </div>
    <ion-content class="has-header text-center">
        <div class = "row">
            <div class = "col event-box"><a ng-href = "#/menu/wedding"><img class = "event-img" ng-src="img/wedding.jpg" /></a><br/><span>Wedding</span></div>
            <div class = "col event-box"><img class = "event-img" ng-src="img/bachelor.jpg" /><br/><span>Bachelor party</span></div>
        </div>
        <div class = "row">
            <div class = "col event-box"><img class = "event-img" ng-src="img/birthday.jpg" /><br/><span>Birthday party</span></div>
            <div class = "col event-box"><img class = "event-img" ng-src="img/baptism.jpg" /><br/><span>Baptism</span></div>
        </div>
        <div class = "row">
            <div class = "col event-box"><img class = "event-img" ng-src="img/funeral.jpg" /><br/><span>Funeral</span></div>
            <div class = "col event-box"><img class = "event-img" ng-src="img/keepcalm.jpg" /><br/><span>Something else</span></div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-click = "login();">
            <i class="icon ion-log-in"></i>
            Login
        </a>
    </div>
</ion-view>
