<div class="modal form-modal">
  <ion-header-bar>
    <h1 class="title">Google contacts import</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGoogleContacts();">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
        <li class="item item-checkbox" ng-repeat = "contact in googleContacts">
          <label class="checkbox">
           <input type="checkbox" ng-model = "contact.toSave">
          </label>
          {{contact.fullName}}
        </li>
    </ul>
    <button class = "button button-assertive button-block" ng-click = "saveContacts();">Save chosen contacts</button>
  </ion-content>
</div>

