<div class="modal form-modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="modal-form">
          <label class="item item-input">
            <input type="text" ng-model="loginData.username" placeholder = "Username">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="loginData.password" placeholder = "Password">
          </label>
          <button class="button button-positive button-block text-center" type="submit">Login</button>
          <button class = "button button-clear text-black" ng-click = "forget()">Forget your password?</button>
          <button style="float:right;" class = "button button-clear text-black" ng-click = "register()">Register</button>
      </div>
    </form>
  </ion-content>
</div>

