<div class="modal form-modal">
  <ion-header-bar>
    <h1 class="title">Save invited</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeInvited()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name = "invitedForm">
      <div class="modal-form">
          <label class="item item-input" ng-class = "{'has-error':invitedForm.first.$invalid}">
            <input type="text" name = "first" ng-model="invitedPerson.firstName" placeholder = "First name" required>
            <span class = "text-danger" ng-show = "invitedForm.first.$error.required">Required!</span>
          </label>
          <label class="item item-input" ng-class = "{'has-error':invitedForm.last.$invalid}">
            <input type="text" name = "last" ng-model="invitedPerson.lastName" placeholder = "Last name" required>
            <span class = "text-danger" ng-show = "invitedForm.last.$error.required">Required!</span>
          </label>
          <label class="item item-input" ng-class = "{'has-error':invitedForm.phone.$invalid}">
            <input type="number" name = "phone" ng-model="invitedPerson.phoneNumber" placeholder = "Phone number" ng-maxlength = "10" required>
            <span class = "text-danger" ng-show = "invitedForm.phone.$error.required">Required!</span>
            <span class = "text-danger" ng-show = "invitedForm.phone.$error.maxlength">Max nr. of digits is 10!</span>
            <span class = "text-danger" ng-show = "invitedForm.phone.$error.number">Number</span>
          </label>
          <label class="item item-input" ng-class = "{'has-error':invitedForm.email.$invalid}">
            <input type="email" name = "email" ng-model="invitedPerson.mailAddress" placeholder = "E-mail address">
            <span class = "text-danger" ng-show = "invitedForm.email.$error.email">Wrong email!</span>
          </label>
          <label class="item item-input">
            <input type="date" ng-model="invitedPerson.confirmationDate" placeholder = "Confirmation date">
          </label>
          <label class="item item-input">
            <ion-radio ng-model="invitedPerson.man" ng-value="true">Male</ion-radio>
            <ion-radio ng-model="invitedPerson.man" ng-value="false">Female</ion-radio>
          </label>
          <button ng-show = "isHidden" class="button button-positive button-block text-center" type="button" ng-click = "addNewInvited(invitedPerson);" ng-disabled = "invitedForm.$invalid">Add</button>
          <button ng-hide = "isHidden" class="button button-positive button-block text-center" type="button" ng-click = "saveInvited(invitedPerson);">Save</button>
      </div>
    </form>
  </ion-content>
</div>

