/* Empty. Add your own CSS if you like */

.main-window {
	background: url('../img/background.png') no-repeat;
}

.main-window .event-box {
	margin: 10px;
}

	.main-window .event-img {
		height: 55px;
		margin: 5px;
		width: 55px;
		border-radius: 30px;
		box-shadow: 5px 3px 3px #FFC4EA;
	}

	.main-window span {
		font-family: sand;
		font-weight: 700;
		color: #7A7A7A;
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}

.form-modal {
	background: url('../img/background.png') no-repeat;
}
	
	.form-modal .modal-form {
		margin: 20px;
	}

	.form-modal .modal-form .item-input{
		border-radius: 10px;
		border: 1px solid black;
		margin: 20px 0;
	}

	.form-modal .text-black {
		color: black;
	}

.menu-container {
	font-weight: 600;
	font-size: 19px;
	background-color: red;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

	.menu-container img {
		width: 15%;
		vertical-align: middle;
		margin-right: 20px;
	}

	.menu-container .item-content {
		border-top: 2px solid white;
		background: url('../img/light-green.jpg') no-repeat;
	}

.invited .invited-list h2 {
	color: #FF00CC;
	font-weight: 800;
}

	.invited .invited-list .item {
		background: url('../img/light-green.jpg') 100% no-repeat;
	}

	.invited .invited-list .item-invited {
		opacity: 0.8;
		background: #D1D1D1 100%;
	}


.has-error {
	background-color: #FFCCCC;
}

	.text-danger {
		color: red;
		margin-right: 15px;
		font-size: 12px;
		font-weight: 600;
	}

.pull-right {
	float: right;
}

	.pull-left {
		float: left;
	}